In [44]:
import pandas as pd

In [45]:
matches = pd.read_csv("matches.csv", index_col=0)

In [46]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2023-08-12,12:30,Premier League,Matchweek 1,Sat,Home,W,2.0,1.0,Nott'ham Forest,...,Match Report,NaN,15.0,7.0,19.1,0.0,0,0,2023,Arsenal
2,2023-08-21,20:00,Premier League,Matchweek 2,Mon,Away,W,1.0,0.0,Crystal Palace,...,Match Report,NaN,13.0,2.0,16.4,0.0,1,1,2023,Arsenal
3,2023-08-26,15:00,Premier League,Matchweek 3,Sat,Home,D,2.0,2.0,Fulham,...,Match Report,NaN,18.0,9.0,13.8,0.0,1,1,2023,Arsenal
4,2023-09-03,16:30,Premier League,Matchweek 4,Sun,Home,W,3.0,1.0,Manchester Utd,...,Match Report,NaN,17.0,5.0,15.0,0.0,0,0,2023,Arsenal
5,2023-09-17,16:30,Premier League,Matchweek 5,Sun,Away,W,1.0,0.0,Everton,...,Match Report,NaN,13.0,4.0,17.4,0.0,0,0,2023,Arsenal

In [47]:
matches.shape

(1386, 27)

In [48]:
# 2 seasons * 20 squads * 38 matches

2 * 20 * 38

1520

In [49]:
# Missing Liverpool 2021-2022
matches["team"].value_counts()

Nottingham Forest           70
Aston Villa                 70
Brentford                   70
West Ham United             70
Fulham                      70
Arsenal                     69
Wolverhampton Wanderers     69
Everton                     69
Crystal Palace              69
Liverpool                   69
Bournemouth                 69
Brighton and Hove Albion    69
Newcastle United            69
Manchester United           69
Tottenham Hotspur           69
Manchester City             69
Chelsea                     68
Leicester City              38
Leeds United                38
Southampton                 38
Luton Town                  32
Burnley                     32
Sheffield United            31
Name: team, dtype: int64

In [50]:
matches[matches["team"] == "Liverpool"].sort_values("date")

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2022-08-06,12:30,Premier League,Matchweek 1,Sat,Away,D,2.0,2.0,Fulham,...,Match Report,NaN,11.0,3.0,12.4,0.0,0,0,2022,Liverpool
2,2022-08-15,20:00,Premier League,Matchweek 2,Mon,Home,D,1.0,1.0,Crystal Palace,...,Match Report,NaN,24.0,4.0,17.4,0.0,0,0,2022,Liverpool
3,2022-08-22,20:00,Premier League,Matchweek 3,Mon,Away,L,1.0,2.0,Manchester Utd,...,Match Report,NaN,17.0,5.0,14.4,0.0,0,0,2022,Liverpool
4,2022-08-27,15:00,Premier League,Matchweek 4,Sat,Home,W,9.0,0.0,Bournemouth,...,Match Report,NaN,19.0,12.0,11.6,0.0,0,0,2022,Liverpool
5,2022-08-31,20:00,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Newcastle Utd,...,Match Report,NaN,23.0,6.0,17.8,0.0,0,0,2022,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,2024-03-02,15:00,Premier League,Matchweek 27,Sat,Away,W,1.0,0.0,Nott'ham Forest,...,Match Report,NaN,22.0,1.0,14.6,0.0,0,0,2023,Liverpool
43,2024-03-10,15:45,Premier League,Matchweek 28,Sun,Home,D,1.0,1.0,Manchester City,...,Match Report,NaN,18.0,5.0,19.0,1.0,1,1,2023,Liverpool
46,2024-03-31,14:00,Premier League,Matchweek 30,Sun,Home,W,2.0,1.0,Brighton,...,Match Report,NaN,30.0,8.0,16.6,0.0,0,0,2023,Liverpool
47,2024-04-04,19:30,Premier League,Matchweek 31,Thu,Home,W,3.0,1.0,Sheffield Utd,...,Match Report,NaN,29.0,9.0,18.1,1.0,0,0,2023,Liverpool
48,2024-04-07,15:30,Premier League,Matchweek 32,Sun,Away,D,2.0,2.0,Manchester Utd,...,Match Report,NaN,27.0,6.0,17.5,0.0,1,1,2023,Liverpool

In [51]:
matches["round"].value_counts()

Matchweek 1     40
Matchweek 17    40
Matchweek 32    40
Matchweek 31    40
Matchweek 30    40
Matchweek 28    40
Matchweek 27    40
Matchweek 25    40
Matchweek 24    40
Matchweek 23    40
Matchweek 22    40
Matchweek 21    40
Matchweek 2     40
Matchweek 19    40
Matchweek 18    40
Matchweek 20    40
Matchweek 16    40
Matchweek 8     40
Matchweek 3     40
Matchweek 4     40
Matchweek 5     40
Matchweek 15    40
Matchweek 7     40
Matchweek 6     40
Matchweek 9     40
Matchweek 10    40
Matchweek 11    40
Matchweek 12    40
Matchweek 13    40
Matchweek 14    40
Matchweek 26    38
Matchweek 29    28
Matchweek 33    20
Matchweek 34    20
Matchweek 35    20
Matchweek 36    20
Matchweek 37    20
Matchweek 38    20
Name: round, dtype: int64

In [52]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk                int64
pkatt             int64
season            int64
team             object
dtype: object

In [53]:
del matches["comp"]

In [54]:
del matches["notes"]

In [55]:
matches["date"] = pd.to_datetime(matches["date"])

In [56]:
matches["target"] = (matches["result"] == "W").astype("int")

In [57]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,match report,sh,sot,dist,fk,pk,pkatt,season,team,target
1,2023-08-12,12:30,Matchweek 1,Sat,Home,W,2.0,1.0,Nott'ham Forest,0.8,...,Match Report,15.0,7.0,19.1,0.0,0,0,2023,Arsenal,1
2,2023-08-21,20:00,Matchweek 2,Mon,Away,W,1.0,0.0,Crystal Palace,2.0,...,Match Report,13.0,2.0,16.4,0.0,1,1,2023,Arsenal,1
3,2023-08-26,15:00,Matchweek 3,Sat,Home,D,2.0,2.0,Fulham,3.2,...,Match Report,18.0,9.0,13.8,0.0,1,1,2023,Arsenal,0
4,2023-09-03,16:30,Matchweek 4,Sun,Home,W,3.0,1.0,Manchester Utd,2.3,...,Match Report,17.0,5.0,15.0,0.0,0,0,2023,Arsenal,1
5,2023-09-17,16:30,Matchweek 5,Sun,Away,W,1.0,0.0,Everton,1.0,...,Match Report,13.0,4.0,17.4,0.0,0,0,2023,Arsenal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2023-04-30,14:00,Matchweek 34,Sun,Away,L,1.0,3.0,Newcastle Utd,0.8,...,Match Report,4.0,3.0,17.3,0.0,0,0,2022,Southampton,0
43,2023-05-08,20:00,Matchweek 35,Mon,Away,L,3.0,4.0,Nott'ham Forest,3.1,...,Match Report,18.0,4.0,14.0,0.0,1,1,2022,Southampton,0
44,2023-05-13,15:00,Matchweek 36,Sat,Home,L,0.0,2.0,Fulham,0.4,...,Match Report,5.0,1.0,24.2,0.0,0,0,2022,Southampton,0
45,2023-05-21,14:00,Matchweek 37,Sun,Away,L,1.0,3.0,Brighton,0.6,...,Match Report,5.0,1.0,13.8,1.0,0,0,2022,Southampton,0
46,2023-05-28,16:30,Matchweek 38,Sun,Home,D,4.0,4.0,Liverpool,1.8,...,Match Report,15.0,10.0,17.5,1.0,0,0,2022,Southampton,0

In [58]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [59]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [60]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [61]:
matches["day_code"] = matches["date"].dt.dayofweek

In [62]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
1,2023-08-12,12:30,Matchweek 1,Sat,Home,W,2.0,1.0,Nott'ham Forest,0.8,...,0.0,0,0,2023,Arsenal,1,1,17,12,5
2,2023-08-21,20:00,Matchweek 2,Mon,Away,W,1.0,0.0,Crystal Palace,2.0,...,0.0,1,1,2023,Arsenal,1,0,7,20,0
3,2023-08-26,15:00,Matchweek 3,Sat,Home,D,2.0,2.0,Fulham,3.2,...,0.0,1,1,2023,Arsenal,0,1,9,15,5
4,2023-09-03,16:30,Matchweek 4,Sun,Home,W,3.0,1.0,Manchester Utd,2.3,...,0.0,0,0,2023,Arsenal,1,1,15,16,6
5,2023-09-17,16:30,Matchweek 5,Sun,Away,W,1.0,0.0,Everton,1.0,...,0.0,0,0,2023,Arsenal,1,0,8,16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2023-04-30,14:00,Matchweek 34,Sun,Away,L,1.0,3.0,Newcastle Utd,0.8,...,0.0,0,0,2022,Southampton,0,0,16,14,6
43,2023-05-08,20:00,Matchweek 35,Mon,Away,L,3.0,4.0,Nott'ham Forest,3.1,...,0.0,1,1,2022,Southampton,0,0,17,20,0
44,2023-05-13,15:00,Matchweek 36,Sat,Home,L,0.0,2.0,Fulham,0.4,...,0.0,0,0,2022,Southampton,0,1,9,15,5
45,2023-05-21,14:00,Matchweek 37,Sun,Away,L,1.0,3.0,Brighton,0.6,...,1.0,0,0,2022,Southampton,0,0,4,14,6
46,2023-05-28,16:30,Matchweek 38,Sun,Home,D,4.0,4.0,Liverpool,1.8,...,1.0,0,0,2022,Southampton,0,1,12,16,6

In [63]:
from sklearn.ensemble import RandomForestClassifier

In [64]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [65]:
train = matches[matches["date"] < '2023-01-01']

In [66]:
test = matches[matches["date"] > '2023-01-01']

In [67]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [68]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [69]:
preds = rf.predict(test[predictors])

In [70]:
from sklearn.metrics import accuracy_score

In [71]:
error = accuracy_score(test["target"], preds)

In [72]:
error

0.6148007590132827

In [73]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [74]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0    1
actual
0          512  135
1          271  136

In [75]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.5018450184501845

In [76]:
grouped_matches = matches.groupby("team")

In [77]:
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [78]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [79]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2022-08-27,15:00,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,2.2,...,15,5,3.000000,1.000000,17.666667,6.000000,17.466667,0.666667,0.333333,0.333333
5,2022-08-31,19:30,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,3.3,...,19,2,3.666667,1.666667,19.333333,7.333333,15.933333,0.333333,0.000000,0.000000
6,2022-09-03,17:30,Matchweek 6,Sat,Away,D,1.0,1.0,Aston Villa,2.1,...,17,5,4.333333,1.666667,18.666667,8.000000,15.033333,0.333333,0.000000,0.000000
9,2022-09-17,12:30,Matchweek 8,Sat,Away,W,3.0,0.0,Wolves,1.1,...,12,5,3.666667,1.000000,16.000000,6.000000,15.233333,0.333333,0.000000,0.000000
10,2022-10-02,14:00,Matchweek 9,Sun,Home,W,6.0,3.0,Manchester Utd,3.2,...,14,6,3.333333,0.333333,15.333333,6.666667,17.000000,0.333333,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,2024-03-03,15:30,Matchweek 27,Sun,Home,W,3.0,1.0,Manchester Utd,3.3,...,15,6,1.000000,0.333333,23.666667,7.000000,16.333333,0.666667,0.000000,0.000000
41,2024-03-10,15:45,Matchweek 28,Sun,Away,D,1.0,1.0,Liverpool,1.6,...,15,6,1.666667,0.333333,22.333333,8.000000,16.933333,0.666667,0.000000,0.000000
43,2024-03-31,16:30,Matchweek 30,Sun,Home,D,0.0,0.0,Arsenal,1.0,...,16,6,1.666667,0.666667,17.333333,6.666667,17.266667,0.666667,0.000000,0.000000
44,2024-04-03,20:15,Matchweek 31,Wed,Home,W,4.0,1.0,Aston Villa,3.4,...,20,2,1.333333,0.666667,16.333333,5.000000,16.833333,0.333333,0.000000,0.000000
45,2024-04-06,12:30,Matchweek 32,Sat,Away,W,4.0,2.0,Crystal Palace,1.9,...,12,5,1.666667,0.666667,15.666667,6.000000,16.233333,0.666667,0.000000,0.000000

In [80]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [81]:
matches_rolling

                                 date   time         round  day venue result  \
team
Arsenal                 3  2022-08-27  17:30   Matchweek 4  Sat  Home      W
                        4  2022-08-31  19:30   Matchweek 5  Wed  Home      W
                        5  2022-09-04  16:30   Matchweek 6  Sun  Away      L
                        7  2022-09-18  12:00   Matchweek 8  Sun  Away      W
                        8  2022-10-01  12:30   Matchweek 9  Sat  Home      W
...                               ...    ...           ...  ...   ...    ...
Wolverhampton Wanderers 32 2024-03-02  15:00  Matchweek 27  Sat  Away      L
                        33 2024-03-09  15:00  Matchweek 28  Sat  Home      W
                        35 2024-03-30  17:30  Matchweek 30  Sat  Away      L
                        36 2024-04-02  19:45  Matchweek 31  Tue  Away      D
                        37 2024-04-06  15:00  Matchweek 32  Sat  Home      L

                             gf   ga        opponent   xg  ...  hour  \
team                                                       ...
Arsenal                 3   2.0  1.0          Fulham  2.6  ...    17
                        4   2.0  1.0     Aston Villa  2.4  ...    19
                        5   1.0  3.0  Manchester Utd  1.3  ...    16
                        7   3.0  0.0       Brentford  1.5  ...    12
                        8   3.0  1.0       Tottenham  2.4  ...    12
...                         ...  ...             ...  ...  ...   ...
Wolverhampton Wanderers 32  0.0  3.0   Newcastle Utd  0.8  ...    15
                        33  2.0  1.0          Fulham  0.8  ...    15
                        35  0.0  2.0     Aston Villa  1.5  ...    17
                        36  1.0  1.0         Burnley  0.9  ...    19
                        37  1.0  2.0        West Ham  1.5  ...    15

                            day_code  gf_rolling ga_rolling sh_rolling  \
team
Arsenal                 3          5    3.000000   0.666667  14.333333
                        4          2    3.000000   1.000000  18.333333
                        5          6    2.333333   0.666667  19.333333
                        7          6    1.666667   1.666667  20.000000
                        8          5    2.000000   1.333333  17.000000
...                              ...         ...        ...        ...
Wolverhampton Wanderers 32         5    1.000000   1.000000  14.000000
                        33         5    1.000000   1.333333  12.333333
                        35         5    1.000000   1.333333  11.000000
                        36         1    0.666667   2.000000  11.000000
                        37         5    1.000000   1.333333   9.666667

                           sot_rolling dist_rolling  fk_rolling  pk_rolling  \
team
Arsenal                 3     5.000000    14.133333    0.333333         0.0
                        4     7.000000    14.433333    0.333333         0.0
                        5     7.333333    15.533333    0.666667         0.0
                        7     6.333333    16.800000    1.000000         0.0
                        8     6.000000    17.700000    0.666667         0.0
...                                ...          ...         ...         ...
Wolverhampton Wanderers 32    4.666667    15.900000    0.333333         0.0
                        33    4.000000    15.466667    0.000000         0.0
                        35    2.666667    15.600000    0.000000         0.0
                        36    3.000000    15.600000    0.333333         0.0
                        37    2.666667    14.433333    0.333333         0.0

                            pkatt_rolling
team
Arsenal                 3             0.0
                        4             0.0
                        5             0.0
                        7             0.0
                        8             0.0
...                                   ...
Wolverhampton Wanderers 32            0.0
                        33            0.0
                        35            0.0
                        36            0.0
                        37            0.0

[1317 rows x 38 columns]

In [82]:
matches_rolling = matches_rolling.droplevel('team')

In [83]:
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.6,...,17,5,3.000000,0.666667,14.333333,5.000000,14.133333,0.333333,0.0,0.0
4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.4,...,19,2,3.000000,1.000000,18.333333,7.000000,14.433333,0.333333,0.0,0.0
5,2022-09-04,16:30,Matchweek 6,Sun,Away,L,1.0,3.0,Manchester Utd,1.3,...,16,6,2.333333,0.666667,19.333333,7.333333,15.533333,0.666667,0.0,0.0
7,2022-09-18,12:00,Matchweek 8,Sun,Away,W,3.0,0.0,Brentford,1.5,...,12,6,1.666667,1.666667,20.000000,6.333333,16.800000,1.000000,0.0,0.0
8,2022-10-01,12:30,Matchweek 9,Sat,Home,W,3.0,1.0,Tottenham,2.4,...,12,5,2.000000,1.333333,17.000000,6.000000,17.700000,0.666667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,2024-03-02,15:00,Matchweek 27,Sat,Away,L,0.0,3.0,Newcastle Utd,0.8,...,15,5,1.000000,1.000000,14.000000,4.666667,15.900000,0.333333,0.0,0.0
33,2024-03-09,15:00,Matchweek 28,Sat,Home,W,2.0,1.0,Fulham,0.8,...,15,5,1.000000,1.333333,12.333333,4.000000,15.466667,0.000000,0.0,0.0
35,2024-03-30,17:30,Matchweek 30,Sat,Away,L,0.0,2.0,Aston Villa,1.5,...,17,5,1.000000,1.333333,11.000000,2.666667,15.600000,0.000000,0.0,0.0
36,2024-04-02,19:45,Matchweek 31,Tue,Away,D,1.0,1.0,Burnley,0.9,...,19,1,0.666667,2.000000,11.000000,3.000000,15.600000,0.333333,0.0,0.0
37,2024-04-06,15:00,Matchweek 32,Sat,Home,L,1.0,2.0,West Ham,1.5,...,15,5,1.000000,1.333333,9.666667,2.666667,14.433333,0.333333,0.0,0.0

In [84]:
matches_rolling.index = range(matches_rolling.shape[0])

In [85]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2023-01-01']
    test = data[data["date"] > '2023-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [86]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [87]:
error

0.5142857142857142

In [88]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [89]:
combined.head(10)

    actual  predicted       date     team         opponent result
13       0          1 2023-01-03  Arsenal    Newcastle Utd      D
14       1          1 2023-01-15  Arsenal        Tottenham      W
15       1          1 2023-01-22  Arsenal   Manchester Utd      W
16       0          0 2023-02-04  Arsenal          Everton      L
17       0          1 2023-02-11  Arsenal        Brentford      D
18       0          1 2023-02-15  Arsenal  Manchester City      L
19       1          0 2023-02-18  Arsenal      Aston Villa      W
20       1          1 2023-02-25  Arsenal   Leicester City      W
21       1          0 2023-03-01  Arsenal          Everton      W
22       1          1 2023-03-04  Arsenal      Bournemouth      W

In [90]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [91]:
combined["new_team"] = combined["team"].map(mapping)

In [92]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [93]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal,0,0,Newcastle United,Arsenal,D,Newcastle Utd
1,1,1,2023-01-15,Arsenal,Tottenham,W,Arsenal,0,0,Tottenham Hotspur,Arsenal,L,Tottenham
2,1,1,2023-01-22,Arsenal,Manchester Utd,W,Arsenal,0,0,Manchester United,Arsenal,L,Manchester Utd
3,0,0,2023-02-04,Arsenal,Everton,L,Arsenal,1,0,Everton,Arsenal,W,Everton
4,0,1,2023-02-11,Arsenal,Brentford,D,Arsenal,0,0,Brentford,Arsenal,D,Brentford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,0,0,2024-03-02,Wolverhampton Wanderers,Newcastle Utd,L,Wolves,1,1,Newcastle United,Wolves,W,Newcastle Utd
952,1,1,2024-03-09,Wolverhampton Wanderers,Fulham,W,Wolves,0,1,Fulham,Wolves,L,Fulham
953,0,0,2024-03-30,Wolverhampton Wanderers,Aston Villa,L,Wolves,1,1,Aston Villa,Wolves,W,Aston Villa
954,0,0,2024-04-02,Wolverhampton Wanderers,Burnley,D,Wolves,0,1,Burnley,Wolves,D,Burnley
955,0,0,2024-04-06,Wolverhampton Wanderers,West Ham,L,Wolves,1,0,West Ham United,Wolves,W,West Ham

In [94]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

1    116
0     99
Name: actual_x, dtype: int64